.vessel {
	width:200px;
	height:200px;
	//border:solid 1px red;
	position:absolute;
	bottom:calc(20% - 100px);
	left:calc(50% - 100px);
	
	//top:100px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:18px;
	.ship {
		position:absolute;
		top:0;
		left:0;
		width:200px;
		height:200px;
		-webkit-animation: ship-top 7s infinite ease-in-out;
		animation: ship-top 7s infinite ease-in-out;

		
		&.top {
			z-index: 100;
			svg {
				path {
					fill:#999999;
				}
			}
		}
		&.shadow {
			z-index: 50;
			svg {
				path {
					fill:#666666;
				}
			}
			//left:4px;
			//top:4px;
			-webkit-animation: ship-shadow 7s infinite ease-in-out;
			animation: ship-shadow 7s infinite ease-in-out;
		}
		.laserbox {
			position:absolute;
			bottom:92px;
			left:98px;
			width:4px;
			height:1000px;
			overflow:hidden;
			//background-color:blue;
			.laser {
				position:absolute;
				bottom:0px;
				width:1px;
				height:80px;
				opacity:1;
				-webkit-animation: fire-lasers 10s infinite linear;
				animation: fire-lasers 10s infinite linear;
				background: rgba(255,0,0,1);
				background: -moz-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(255,0,0,0.52) 39%, rgba(255,0,0,0) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,0,0,1)), color-stop(39%, rgba(255,0,0,0.52)), color-stop(100%, rgba(255,0,0,0)));
				background: -webkit-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(255,0,0,0.52) 39%, rgba(255,0,0,0) 100%);
				background: -o-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(255,0,0,0.52) 39%, rgba(255,0,0,0) 100%);
				background: -ms-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(255,0,0,0.52) 39%, rgba(255,0,0,0) 100%);
				background: linear-gradient(to bottom, rgba(255,0,0,1) 0%, rgba(255,0,0,0.52) 39%, rgba(255,0,0,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000', GradientType=0 );
				&.l-left {
					left:0;
				}
				&.l-right {
					right:0;
				}
			}

		}
		.trail {
			z-index: -1;
			width:10px;
			height:40px;
			position:absolute;
			-webkit-animation: trail-blaze 7s infinite ease-in-out;
			animation: trail-blaze 7s infinite ease-in-out;
			
			background: rgba(68,202,207,1);
			background: -moz-linear-gradient(top, rgba(68,202,207,1) 0%, rgba(7,226,249,1) 6%, rgba(7,226,249,1) 8%, rgba(1,229,254,0.53) 52%, rgba(11,225,247,0.45) 59%, rgba(68,202,207,0) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68,202,207,1)), color-stop(6%, rgba(7,226,249,1)), color-stop(8%, rgba(7,226,249,1)), color-stop(52%, rgba(1,229,254,0.53)), color-stop(59%, rgba(11,225,247,0.45)), color-stop(100%, rgba(68,202,207,0)));
			background: -webkit-linear-gradient(top, rgba(68,202,207,1) 0%, rgba(7,226,249,1) 6%, rgba(7,226,249,1) 8%, rgba(1,229,254,0.53) 52%, rgba(11,225,247,0.45) 59%, rgba(68,202,207,0) 100%);
			background: -o-linear-gradient(top, rgba(68,202,207,1) 0%, rgba(7,226,249,1) 6%, rgba(7,226,249,1) 8%, rgba(1,229,254,0.53) 52%, rgba(11,225,247,0.45) 59%, rgba(68,202,207,0) 100%);
			background: -ms-linear-gradient(top, rgba(68,202,207,1) 0%, rgba(7,226,249,1) 6%, rgba(7,226,249,1) 8%, rgba(1,229,254,0.53) 52%, rgba(11,225,247,0.45) 59%, rgba(68,202,207,0) 100%);
			background: linear-gradient(to bottom, rgba(68,202,207,1) 0%, rgba(7,226,249,1) 6%, rgba(7,226,249,1) 8%, rgba(1,229,254,0.53) 52%, rgba(11,225,247,0.45) 59%, rgba(68,202,207,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44cacf', endColorstr='#44cacf', GradientType=0 );
			&.t1 {
				top:160px;
				left:60px;
			}
			&.t2 {
				top:165px;
				left:70px;
			}
			&.t3 {
				top:170px;
				left:80px;
			}
			&.t4 {
				top:175px;
				left:90px;
			}
			&.t5 {
				top:175px;
				left:100px;
			}
			&.t6 {
				top:170px;
				left:110px;
			}
			&.t7 {
				top:165px;
				left:120px;
			}
			&.t8 {
				top:160px;
				left:130px;
			}
		}
	}

}