---
title: The Kessel Run
---
.starmap
  #stars
  #stars2
  #stars3
-# .message
-#   .message-box
-#     %svg{:viewBox => "0 0 320 117", :xmlns => "http://www.w3.org/2000/svg"}
-#       %title xmas
-#       %polygon{:points => "92.05 28.25 92.05 44.07 104.44 44.07 104.44 6 92.05 6 83.77 21.82 75.43 6 55.13 6 55.13 17.34 63.04 17.34 63.04 44.07 75.43 44.07 75.43 28.25 83.4 44.07 84.08 44.07 92.05 28.25", :style => "fill:#fff"}
-#       %path{:d => "M142,44.07h12.79V31.5l12.08,12.58h27.82V31.5l12.08,12.58h15V32.74H210.37l-2.85-3.64a17.82,17.82,0,0,0,6.8-2.9,9.76,9.76,0,0,0,3.32-4.59q0.95-2.74-.11-7.8a11.65,11.65,0,0,0-4.32-5.38A15.82,15.82,0,0,0,205.67,6H180.89V32.74H170.47l-2.85-3.64a17.82,17.82,0,0,0,6.8-2.9,9.76,9.76,0,0,0,3.32-4.59q0.95-2.74-.11-7.8a11.65,11.65,0,0,0-4.32-5.38A15.82,15.82,0,0,0,165.77,6H141V32.74H118.5V28.36h13.08V21.71H118.5V17.34h20.25V6H106.1V44.07H142Zm52.69-28.58h9.57a2.86,2.86,0,0,1,1.57.7,3.77,3.77,0,0,1,1.07,2.89q-0.05,2.29-.95,2.86a3.16,3.16,0,0,1-1.66.57h-9.6v-7Zm-39.9,0h9.57a2.86,2.86,0,0,1,1.57.7A3.77,3.77,0,0,1,167,19.08q-0.05,2.29-.95,2.86a3.16,3.16,0,0,1-1.66.57h-9.6v-7Z", :style => "fill:#fff"}
-#       %polygon{:points => "232.39 44.07 244.83 44.07 244.83 30.1 261.44 6 246.41 6 238.56 17.76 230.8 6 215.77 6 232.39 30.1 232.39 44.07", :style => "fill:#fff"}
-#       %path{:d => "M26.25,82.16a13.68,13.68,0,0,1,4.88-1.34,14.64,14.64,0,0,1,4.85.9A16.17,16.17,0,0,1,39.35,84l7.49-8.33a19.28,19.28,0,0,0-6.49-4.22A34.15,34.15,0,0,0,31,70a25.27,25.27,0,0,0-8.94,1.73,30.58,30.58,0,0,0-6,3.74,16.16,16.16,0,0,0-4.64,5.85,20.6,20.6,0,0,0,0,16.27,16.16,16.16,0,0,0,4.64,5.85,30.58,30.58,0,0,0,6,3.74A25.25,25.25,0,0,0,31,108.87a34.11,34.11,0,0,0,9.33-1.48,19.25,19.25,0,0,0,6.49-4.22l-7.49-8.33A16.13,16.13,0,0,1,36,97.11a14.59,14.59,0,0,1-4.85.9,13.66,13.66,0,0,1-4.88-1.34,8.92,8.92,0,0,1-2.77-2.5,8.9,8.9,0,0,1,0-9.49A8.92,8.92,0,0,1,26.25,82.16Z", :style => "fill:#fff"}
-#       %polygon{:points => "69.92 83.93 59.95 83.93 59.95 70.8 47.56 70.8 47.56 108.87 59.95 108.87 59.95 95.16 69.92 95.16 69.92 108.87 82.31 108.87 82.31 70.8 69.92 70.8 69.92 83.93", :style => "fill:#fff"}
-#       %path{:d => "M302.82,82.14h9.28V70.8H291.33q-7.28,0-8.65,7.07t7.8,15.5q5.56,4.38-1.9,4.17h-8v2.12L270.92,70.8H252l-10.5,31.91V70.8H229.12l-8.28,15.82L212.51,70.8H146.2q-7.28,0-8.65,7.07t7.8,15.5q5.56,4.38-1.9,4.17h-7.72V70.8H123.34V97.54h-9.89L110.6,93.9a17.8,17.8,0,0,0,6.8-2.9,9.75,9.75,0,0,0,3.32-4.59q0.95-2.74-.11-7.8a11.65,11.65,0,0,0-4.32-5.38,15.83,15.83,0,0,0-7.54-2.43H84v38.07H97.74V96.3l12.08,12.58h45.88q8.23-1.37,8.38-8.44t-8.38-14.55q-4.77-4,2-3.74h18.13v26.74h12.39V82.14h11.9v26.74h12.39V93.05l8,15.82h0.69l8-15.82v15.82h24l2.4-6.86h11.31l2.4,6.86h31.56q8.23-1.37,8.38-8.44t-8.38-14.55Q296,81.93,302.82,82.14ZM109,86.74a3.15,3.15,0,0,1-1.66.57h-9.6v-7h9.57a2.87,2.87,0,0,1,1.57.7,3.78,3.78,0,0,1,1.07,2.89Q109.89,86.17,109,86.74ZM256,94.32l5.46-15.08,5,15.08H256Z", :style => "fill:#fff"}
.canvas
  .vessel
    .ship.top
      %svg{:viewBox => "0 0 200 200", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M157,72H145V85L114,20h-8V48H94V20H86L49.26,97c-0.47.91-.91,1.84-1.33,2.78l-0.11.22h0a56.56,56.56,0,0,0-4.11,13.81L51,115l-7.68,1.92a57.84,57.84,0,0,0,0,12.16L51,131l-7.26,1.19A56.73,56.73,0,0,0,55,158h5v5.6a57,57,0,0,0,80,0V158h5a56.73,56.73,0,0,0,11.27-25.82L149,131l7.68-1.92a57.84,57.84,0,0,0,0-12.16L149,115l7.26-1.19A56.56,56.56,0,0,0,152.16,100h0l-0.11-.22c-0.42-.94-0.86-1.86-1.32-2.77l-0.3-.63L157,92V72Z", :style => "fill:#dddad3;stroke:#c0c2b0;stroke-linejoin:round"}
        %polygon{:points => "157 72 145 72 147 65 155 65 157 72", :style => "fill:#acb1a0;stroke:#c0c2b0;stroke-linejoin:round"}
        %circle{:cx => "100", :cy => "143", :r => "4", :style => "fill:#acb1a0"}
        %circle{:cx => "100", :cy => "155", :r => "4", :style => "fill:#acb1a0"}
        %circle{:cx => "86", :cy => "153", :r => "4", :style => "fill:#acb1a0"}
        %circle{:cx => "90", :cy => "141", :r => "4", :style => "fill:#acb1a0"}
        %circle{:cx => "84", :cy => "45", :r => "4", :style => "fill:#acb1a0"}
        %circle{:cx => "76", :cy => "63", :r => "4", :style => "fill:#acb1a0"}
        %circle{:cx => "100", :cy => "119.5", :r => "14", :style => "fill:none;stroke:#c0c2b0;stroke-miterlimit:10"}
        %line{:style => "fill:none;stroke:#c0c2b0;stroke-miterlimit:10", :x1 => "60", :x2 => "89.92", :y1 => "158", :y2 => "129.21"}
        %polyline{:points => "89.92 129.21 51 131 43.32 129.08", :style => "fill:none;stroke:#c0c2b0;stroke-miterlimit:10"}
        %polyline{:points => "86.28 116.73 51 115.1 43.32 116.92", :style => "fill:none;stroke:#c0c2b0;stroke-miterlimit:10"}
        %circle{:cx => "114", :cy => "153", :r => "4", :style => "fill:#acb1a0"}
        %circle{:cx => "110", :cy => "141", :r => "4", :style => "fill:#acb1a0"}
        %circle{:cx => "116", :cy => "45", :r => "4", :style => "fill:#acb1a0"}
        %circle{:cx => "124", :cy => "63", :r => "4", :style => "fill:#acb1a0"}
        %line{:style => "fill:none;stroke:#c0c2b0;stroke-miterlimit:10", :x1 => "140", :x2 => "110.08", :y1 => "158", :y2 => "129.21"}
        %polyline{:points => "110.08 129.21 149 131 156.68 129.08", :style => "fill:none;stroke:#c0c2b0;stroke-miterlimit:10"}
        %polyline{:points => "113.72 116.73 149 115.1 156.68 116.92", :style => "fill:none;stroke:#c0c2b0;stroke-miterlimit:10"}
        %polyline{:points => "110.28 110 106 48 94 48 89.72 110", :style => "fill:none;stroke:#c0c2b0;stroke-miterlimit:10"}
        %circle{:cx => "75.4", :cy => "87.22", :r => "4", :style => "fill:#c0c2b0", :transform => "translate(-28.2 36.62) rotate(-23.13)"}
        %path{:d => "M75,86.3c4.48-1.91,7-7.08,6.84-9.45L63.45,84.71C65,86.48,70.52,88.21,75,86.3", :style => "fill:#c0c2b0"}
        %ellipse{:cx => "72.65", :cy => "80.78", :rx => "10", :ry => "3", :style => "fill:#acb1a0", :transform => "translate(-25.89 35.03) rotate(-23.13)"}
        %line{:style => "fill:#dddad3;stroke:#c0c2b0;stroke-miterlimit:10", :x1 => "145", :x2 => "110.28", :y1 => "84.98", :y2 => "110"}
        %line{:style => "fill:#dddad3;stroke:#c0c2b0;stroke-miterlimit:10", :x1 => "150.44", :x2 => "113.72", :y1 => "96.37", :y2 => "116.73"}
        %circle{:cx => "100", :cy => "116", :r => "5", :style => "fill:#c0c2b0;stroke:#acb1a0;stroke-miterlimit:10"}
        %rect{:height => "6.75", :style => "fill:#8b8e82", :width => "4", :x => "98", :y => "112.25"}
        %rect{:height => "6", :style => "fill:#8b8e82", :width => "1", :x => "98", :y => "107"}
        %rect{:height => "6", :style => "fill:#8b8e82", :width => "1", :x => "101", :y => "107"}
      .laserbox
        .laser.l-left
        .laser.l-right
      .trail.t1
      .trail.t2
      .trail.t3
      .trail.t4
      .trail.t5
      .trail.t6
      .trail.t7
      .trail.t8
    .ship.shadow
      /%img{:src => "images/falcon-shadow.png"}
      %svg{:viewbox => "0 0 200 200"}
        %path{:d => "M150.44,96.37L157,92V72l-2-7h-8l-2,7V85L114,20h-8V48H94V20H86L49,97.47q-0.49,1-.94,2l-0.27.56h0a57,57,0,1,0,104.31,0h0l-0.27-.57q-0.45-1-.93-2Z"}
.logo
  %a{:href => "http://elliotdahl.com/", :target => "_blank"}
    .navlogohold
      %svg#Layer_1{"enable-background" => "new 0 0 500 500", :version => "1.1", :viewBox => "0 0 500 500", :width => "30", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
        %path{:d => "M410,372.3h-71.7l-61.8-107h132.4v-30.6H276.5l61.8-107H410c34.1,0,61.8-27.7,61.8-61.8\n\t\t\t\t\t\t\tc0-34.1-27.7-61.8-61.8-61.8c-22.3,0-42.7,12.3-54.5,32.6l-34.8,60.4H179.4l-34.8-60.4C132.7,16.3,112.5,4.1,90,4.1\n\t\t\t\t\t\t\tC56,4.1,28.3,31.8,28.3,65.9c0,34.1,27.7,61.8,61.8,61.8h71.7l61.8,107H91.3v30.6h132.4l-61.8,107H90.2c-34.1,0-61.8,27.7-61.8,61.8\n\t\t\t\t\t\t\tc0,34.1,27.7,61.8,61.8,61.8c22.3,0,42.7-12.3,54.5-32.6l34.8-60.4h141.3l34.6,59.9l0.2,0.4c11.9,20.4,32.1,32.6,54.5,32.6\n\t\t\t\t\t\t\tc34.1,0,61.8-27.7,61.8-61.8C471.7,400.1,444.1,372.3,410,372.3z M381.9,52.1c6.3-11.1,16.6-17.4,28-17.4\n\t\t\t\t\t\t\tc17.2,0,31.2,14.1,31.2,31.2s-14.1,31.2-31.2,31.2h-54.1l0,0L381.9,52.1z M90,97.1c-17.1,0-31.2-13.9-31.2-31.2S73,34.7,90.1,34.7\n\t\t\t\t\t\t\tc11.5,0,21.6,6.3,28,17.4L144,97.2L90,97.1L90,97.1L90,97.1z M303,127.7L250,219.4l-52.9-91.7L303,127.7L303,127.7L303,127.7z\n\t\t\t\t\t\t\t M118.1,447.9c-6.3,11.1-16.6,17.4-28,17.4c-17.2,0-31.2-14.1-31.2-31.2s14.1-31.2,31.2-31.2h54.1L118.1,447.9z M197.1,372.3\n\t\t\t\t\t\t\tl52.9-91.7l52.9,91.7H197.1z M410,465.4c-11.4,0-21.5-6.3-27.9-17.2L356,402.8h54.1c17.2,0,31.2,14.1,31.2,31.2\n\t\t\t\t\t\t\tC441.2,451.3,427.1,465.4,410,465.4z", :fill => "#525961"}
:javascript
  (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-12878993-1', 'auto');
  ga('send', 'pageview');